<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= heading %></h1>
  <p><%= content %></p>
</body>
</html>

<!-- npx ejs template.ejs -f data.json -o output.html -->

<!-- ejs template.ejs -f data.json -o output.html
-f option is short for --data-file, and it tells EJS to look for the data in a separate file.
-o option is short for --output-file, and it tells EJS to save the rendered HTML output to a separate file with the name output.html -->